<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>This is title </title>
</head>
<body>
<h1>This is Form {{address}} </h1>
<form action="/removespecialchar" method="get">
	<textarea name = 'text' style="width: 1313px; height: 186px;"></textarea>
	<br/>
	<input type="checkbox" name="specialchar"> Remove special char<br>
	<input type="checkbox" name="upperchar"> Make uppercase<br>
	<input type="checkbox" name="countchar"> Count Character<br>

	<button type="submit"> Click</button>
</form>
</body>
</html>