<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Prakash Mini Project</title>
  </head>
  <body>
  <div class = "prakash">
	  <nav class="navbar navbar-expand-lg avbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  </div>
<div class="container">
  <form action="/removespecialchar" method="Post">{% csrf_token %}

<!--	<textarea name = 'text' style="width: 1313px; height: 186px;"></textarea>-->

		<div class="form-floating">
		  <textarea class="form-control"  name="text" id="floatingTextarea"></textarea> <br>
		</div>

		<div class="form-check form-switch">
		  <input class="form-check-input" type="checkbox" role="switch"  name="specialchar" id="checkbox1">
		  <label class="form-check-label" >Remove Special char</label>
		</div>
		<div class="form-check form-switch">
		  <input class="form-check-input" name="upperchar" type="checkbox" role="switch" id="uppercase1">
		  <label class="form-check-label" >Make uppercase</label>
		</div>
	  <!--	<input type="checkbox" name="upperchar"> Make uppercase<br>-->
<!--	<input type="checkbox" name="countchar"> Count Character<br>-->
	  		<div class="form-check form-switch">
		  <input class="form-check-input" name="countchar" type="checkbox" role="switch" id="charactercounter1">
		  <label class="form-check-label" >Count char</label>
		</div>
			<div class="col-auto">
			<button type="submit" class="btn btn-primary">Submit</button>
			</div>
  </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>